@media screen and (max-width: 900px) {
    .main__container-slider{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 350px;
        height: 100vh;
    }
    .main__container-img img{
        width: 300px;
        
    }
    .main__info{
        margin-bottom: 60px;
        display: grid;
        align-content: center;
        
    }
    .main__info h1{
        font-size: 3rem;
        letter-spacing: 1px;
    }
    .main__info p{
        font-size: 1.5rem;
    }

}